body, html {
    height: -webkit-fill-available;
    margin: 0;
    font-family: Arial;
   
    padding-top: 42px;
}


th, td{
  padding: 5px;
}

td:first-child{
  text-align: left;
  font-weight: 600;
}

p{
  font-size: 16px;
  font-family: system-ui;
}

#Resume{
	margin-top: 20px;
}

.first_line{
	font-style: normal;
    font-weight: 700;
    font-size: normal;
    color: #191919;
    text-transform: uppercase;
    text-decoration: uppercase;
    font-size: 24px!important;
	padding-bottom: 5px;
}

.second_line{
	font-style: normal;
    font-weight: 700;
    font-size: normal;
    color: #191919;
    text-transform: uppercase;
    text-decoration: uppercase;
    font-size: 18px!important;
	padding-bottom: 2px;
	padding-top: 5px;
	border-bottom: 1px solid #d9d9d9; 

}

.third_line{
	font-style: normal;
    font-weight: 700;
    font-size: normal;
    color: #191919;
    text-transform: uppercase;
    text-decoration: uppercase;
    font-size: 16px!important;
	padding-bottom: 2px;
	border-bottom: 1px solid #d9d9d9; 
}

.date_style{
	font-style: italic;
    color: #978a8a;
    text-transform: none;
	font-family: 'Ubuntu'!important;
	font-size: 16px!important;
	word-break: normal;
	    display: inline-block!important;
    white-space: normal;
	    font-kerning: normal;
    text-rendering: optimizeLegibility;
}

.skill{
	text-align: center;
    padding: 8px;
    background-color: #cfc1c1;
    border-radius: 10px;
    color: black;
	margin: 2px;
}
