body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
  background-color: #4c4a4a1c;
}

.tablink {
  background-color: white;
  color: black;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #0c3e878f;
  color: white;
}

.tabcontent {
  color: black;
  display: none;
  padding: 100px 20px;
  height: 100%;
}
